body {
    background: url(https://i.ytimg.com/vi/d1FZGpv2-Q4/maxresdefault.jpg);
    background-size: 100%;
}
#box {
    position: absolute;
    text-align: center;
    top: 50%;
    bottom: 50%;
    width: 99%;
    height: 20%;
}
#content {
    font-size: 200%;
   
}
#nextQuote {
    background-color: black;
    color: aliceblue;
    border: 2px solid gray;
    border-radius: 20px;
    height: 50px;
    background: rgba(0, 0, 0, 0.4);
    outline: 0;
    font-size: 130%;
}
#nextQuote:hover {
background: rgba(0,0,0,0.2);
color: aliceblue;
box-shadow: inset 0 0 0 3px gray;
}